        
<div class="group navform">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "Save") %> Save
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "Cancel")} Cancel", documents_path, :class => "button" %> 
  <div class="clear"></div>
</div>